<h3>Reviews and Ratings</h3>

<% @course.reviews.each do |review| %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= review.user.name %></h5>
      <p class="card-text"><%= review.comment %></p>
      <p class="card-text">Rating: <%= review.rating %> / 5</p>
    </div>
  </div>
<% end %>